.lds-dual-ring {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(78, 75, 75);
    border-color: rgb(78, 75, 75) transparent rgb(78, 75, 75) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  