.actor-list li{
        background-color: #151515;
        color: #fff;
        cursor: pointer;
        margin: 1em auto 1em;
        padding: 1em;
        text-align: left;
        width: 70%;
        font-size: 1.17em;
        font-weight: bold;
}
.actor-list li:hover{
    filter: brightness(130%);
    color: gold;
}

.view_button{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
 }
 .view_button:hover{
       color: rgb(216, 191, 79) !important;
       border: 1px solid rgb(216, 191, 79);
 }
 .btn-on-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
 }